@import "variables";

.card {
  display: inline-block;
  justify-content: space-evenly;
  width: 18%;
  padding: 20px;
  margin: 10px;
  background-color: var(--first-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  background-color: var(--second-color);
  transform: scale(1.1);
}
