.card {
  display: inline-block;
  justify-content: space-evenly;
  /* width: 18%; */
  /* height: 330px; */
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

.card:hover {
  transform: scale(1.15);
}

.price {
  font-size: 2.5rem;
}
